.decal-contain {
  display: block;
  top: unset;
  left: unset;
  position: relative;
  bottom: 16px;
  width: 32px;
}

.decal {
  &:before {
    @apply w-6 absolute;
    content: "";
    border-radius: 2px;
    border-top: 2px solid #5a5c5d;
    border-bottom: 2px solid #5a5c5d;
    box-shadow: none;
    transition: box-shadow 0.3s ease;
  }

  &:after {
    left: 28px;
    position: absolute;
    width: 4px;
    content: "";
    border-radius: 2px;
    border-top: 2px solid #5a5c5d;
    border-bottom: 2px solid #5a5c5d;
    box-shadow: none;
    transition: box-shadow 0.3s ease;
  }
}
