.rectangle {
  @apply block max-w-sm bg-star-wars-grey-1 relative;
  height: 40px;
  border-radius: 4px;

  &:after {
    @apply block max-w-sm bg-black translate-x-1/2 block absolute bottom-0;
    content: "";
    left: 50%;
    width: 100px;
    height: 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
}

.decal-contain {
  @apply block relative;
  top: unset;
  left: unset;
  bottom: 16px;
  width: 32px;
}

.decal {
  &:before {
    @apply w-6 absolute;
    content: "";
    border-radius: 2px;
    border-top: 2px solid #5a5c5d;
    border-bottom: 2px solid #5a5c5d;
  }

  &:after {
    left: 28px;
    position: absolute;
    width: 4px;
    content: "";
    border-radius: 2px;
    border-top: 2px solid #5a5c5d;
    border-bottom: 2px solid #5a5c5d;
  }
}
